@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@import '~bulma/css/bulma.min.css';

html {
    background: #f5fffb;
}

#app {
    width: 90%;
    margin: 0 auto;
}

#shortify-logo {
    width: 100px;
    height: auto;

    transition: transform 1s ease-out;
    &:hover {
        transform: scale(1.05) rotate(1deg);
    }
}

@media screen and (min-height: 200px) {
    #shortify-logo {
        width: 200px;
    }
}
